body {
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 25px;
    text-align: center;
    background-color: white;
    color: grey;
    padding: 0px;
    word-wrap: break-word;
}

.navigationmenu {
    color: white;
    text-align: center;
    margin: auto;
    text-transform: capitalize;
    font-size: x-small;
    letter-spacing: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: black;
    padding: 30px;
}

.navigationmenu a {
    letter-spacing: 0;
    color: white;
    margin: 0 20px 0 20px;
    text-decoration: none;
    font-size: 20px;
}

.navigationmenu a:hover {
    color: rgb(126, 126, 126);
}
    
#couverture {
    width: 100%;
}

.description{
    text-align: justify;
    margin-left: 400px;
    margin-right: 400px;
}

#photoapropos{
    float: left;
    width: 40%;
    margin-right: 30px;
}

#citation{
    font-size: x-large;
}

#footer {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: black;
    padding: 30px;
    margin:auto;
}