body {
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 25px;
    text-align: center;
    background-color: white;
    color: grey;
    padding: 0px;
    word-wrap: break-word;
}

.navigationmenu {
    color: white;
    text-align: center;
    margin: auto;
    text-transform: capitalize;
    font-size: x-small;
    letter-spacing: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: black;
    padding: 30px;
}

.navigationmenu a {
    letter-spacing: 0;
    color: white;
    margin: 0 20px 0 20px;
    text-decoration: none;
    font-size: 20px;
}

.navigationmenu a:hover {
    color: rgb(126, 126, 126);
}
    
#couverture {
    width: 100%;
}

#footer {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: black;
    padding: 30px;
    margin:auto;
}

.leprojet {
    padding-left: 300px;
    padding-right: 300px;
    text-align: justify;
}

.photos {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}

td,
th {
    border: 1px solid black;
    text-align: center
}

table {
    border-collapse: collapse;
    margin: auto;
}

textarea {
    width: 200px;
    height: 100px;
}

.listematériel {
    margin-left: 350px;
    text-align: left;
}